<ion-view view-title="Error">
  <ion-content>
    <div class="list card">
      <div class="item" align="center">
        <h2>Ups! ocurrió un error..</h2>
      </div>

      <div class="item item-body">
        <img class="img-error">
        <br>
        <h2>
          Se produjo un error mientras se procesaba la acción,
          Por favor intentalo de nuevo en unos minutos.
        </h2>
        <div align="center">
          <a href="#/app/categorias">
            <button class="button button-large button-positive">
              Ir a categorias
            </button>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
