<ion-view view-title="">
  <ion-content>
    <div class="list card">
      <div class="item" align="center">
        <h2><p>Ups! ocurrió un error..</p></h2>
      </div>

      <div class="item item-body">
        <img class="img-error">
        <br>
        <h2>
          <p>Se produjo un error mientras se procesaba la acción,
          Por favor intentalo de nuevo en unos minutos.
          </p>
        </h2>
        <div align="center">
          <a href="#/app/categorias">
            <button class="button button-large button-positive">
              Ir a categorias
            </button>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
