<ion-view view-title="">
  <ion-content>
    <div class="list card">
      <div class="item" align="center">
        <div>
          <h3 style="color:#a8060e";> <i class="ion-android-warning"></i> Ups! Ocurrió un error... </h3>
        </div>
      </div>

      <div class="item item-body">
        <img class="img-error">
        <br>
        <h2>
          <p>Se produjo un error mientras se procesaba la acción.
            Verifica tu conexión e intenta nuevamente. Si el problema
            persiste cierra la aplicación e ingresa de nuevo.

          </p>
        </h2>
        <!--<div align="center">
          <a href="#/app/categorias">
            <button class="button button-large button-positive">
              Ir a categorias
            </button>
          </a>
        </div>-->
      </div>
    </div>
  </ion-content>
</ion-view>
