<ion-view view-title="">
  <ion-content>
    <img class=" {{ categoria.urlImg }} sombra-categ" >

    <section ng-switch="categoria.nombre">

      <section ng-show="!showProducts"  ng-switch-when="Vinos">
        <div class="list" ng-repeat="cellar in cellars">
          <a href="#/app/producto/producto-detalle/{{producto}}" class="item item-thumbnail-left">
            <h2> {{ cellar }}</h2>
          </a>
        </div>
      </section>

      <section ng-show="!showProducts" ng-switch-when="Cervezas">
        Mostrar paises
      </section>

      <div class="list" ng-repeat="producto in productos">
        <a href="#/app/producto/producto-detalle/{{producto}}" class="item item-thumbnail-left">
          <img class="list-prod" src={{decode(producto.urlImg)}}>
          <h2> {{producto.nombre}}</h2>
          <p>$ {{producto.precio}}</p>
          <button class="button button-small button-clear icon-center ion-record button-dark"> {{producto.stock}}</button>
        </a>
      </div>
    </section>


  </ion-content>
</ion-view>
