<ion-view view-title="{{cate.nombre}}">

  <ion-content>
    <img class="img_categoria" src="../img/categorias/cerveza.jpg">
    <div class="list" ng-repeat="producto in productos" href="#/app/producto/producto-detalle/{{producto}}">
      <a class="item item-thumbnail-left" href="#/app/producto/producto-detalle/{{producto}}">
        <img src="../img/categorias/vinos.jpg">
        <h2> {{producto.nombre}}</h2>
        <p>$ {{producto.precio}}</p>
        <button ng-click="detalleProducto()" class="button button-outline button-small icon-center ion-eye button-positive"> Ver producto</button>
      </a>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-clear" >
    <a href="#/app/home" class="button button-assertive pull-left"><i class="icon ion-home"></i></a>

    <a href="#/app/mi-pedido" class="button button-assertive pull-rigth"><i class="icon ion-ios-cart"></i></a>
  </div>
</ion-view>
