<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content edge-drag-threshold="250" drag-content="true">
    <ion-nav-bar class="bar-dark" >
      <ion-nav-back-button>
        Atrás
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <span class="badge badge-assertive ">{{ totalProductos }}</span>
        <a href="#/app/mi-pedido" class="button button-clear  pull-rigth">
          <i class="ion-ios-cart"></i>
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="300">
    <!--<ion-header-bar class="menu-header">
    </ion-header-bar>-->
    <ion-content class="custom">
      <ion-list>
        <ion-item  menu-close href="#/app/home"  >
          <i class="ion-home"></i>
          &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Home
        </ion-item>
        <ion-item menu-close href="#/app/categorias">
          <i class="ion-wineglass"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Categorias
        </ion-item>
        <ion-item menu-close href="#/app/promociones">
          <i class="ion-android-bar"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Promociones
        </ion-item>
        <ion-item menu-close href="#/app/mi-pedido">
          <i class="ion-ios-cart"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi pedido
        </ion-item>
        <ion-item menu-close href="#/app/contacto">
          <i class="ion-android-mail"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contacto
        </ion-item>
        <ion-item menu-close href="#/app/salir">
          <i class="ion-close-circled"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Salir
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
