<ion-view view-title="">
  <ion-content>
    <div class="list list-inset">
      <div class="item" align="center">
        <i class="ion-android-cart"></i> Detalle de tu pedido
      </div>

    </div>
    <div class="card">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-50">Subtotal</div>
          <div class="col">$ {{ pedido.subTotal}}</div>
        </div>
        <div class="row">
          <div class="col col-50"><strong>Total</strong></div>
          <div class="col"><strong>$ {{ pedido.total }}</strong></div>
        </div>
      </div>

      <div class="item item-divider">
        <div class="row">
          <div class="col" align="center">
            <button class="button button-full button-positive">Finalizar compra</button>
            <button ng-click="limpiarCarro()" class="button button-small button-assertive">
              Limpiar
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="list" ng-repeat="ped in pedidoActual.detalle" ng-if="$index > 0">
      <div class="item item-avatar">
        <img class="{{ped.producto.urlImg}}">
        <h2> {{ped.producto.nombre}}</h2>
        <div class="row">
          <div class="col">
            <strong> {{ped.cantidad}}</strong> |&nbsp;&nbsp; c/u $ {{ped.producto.precio}}
          </div>
          <div class="col col-75">
            <strong>&nbsp;&nbsp;Subt. $ {{ ped.subTotal }}</strong>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button ng-click="addCantidad(ped)" class="button button-outline button-small ion-plus button-balanced"></button>
            <button ng-click="restarCantidad(ped)" class="button button-outline button-small ion-minus button-assertive"></button>
          </div>
          <div class="col col-75">
            <button ng-click="eliminarProducto(ped)" class="button button-small button-assertive ion-trash-a assertive">
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<!--<div class="bar bar-footer bar-light" >
  <button ng-click="limpiarCarro()" class="button button-positive">
    Finalizar la compra
  </button>
  Limpiar carro<a href="#/app/mi-pedido" class="button button-clear pull-rigth"><i class="icon ion-ios-cart"></i></a>
</div>
-->
