<ion-view view-title="Drinks delivery">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-50"><strong><i class="ion-android-cart"></i> Tu compra</strong></div>
          <div class="col"><br>
            <button class="button button-positive">
              Hacer pedido
            </button>
          </div>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col col-75"><strong>Subtotal</strong></div>
          <div class="col">$ 348.90</div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row">
          <div class="col col-75"><strong>Total</strong></div>
          <div class="col"><strong>$ 348.90</strong></div>
        </div>
      </div>
    </div>

    <div class="list" ng-repeat="ped in pedidoActual.detalle" >
      <a class="item item-thumbnail-left" href="#">
        <img src="../img/categorias/vinos.jpg">
        <h2> {{ped.producto.nombre}}</h2>
        <div class="row">
          <div class="col">Cant. {{ped.cantidad}} </div>
          <div class="col">c/u $ {{ped.producto.precio}}</div>
          <div class="col"><strong>Subt. $ 12.98 </strong></div>
        </div>
        <div class="row">
          <div class="col"><button class="button button-outline button-small ion-plus button-positive"></button> <button class="button button-outline button-small ion-minus button-assertive"></button></div>
          <div class="col"></div>
          <div class="col"><button class="button button-outline button-small ion-close button-assertive"></button></div>
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>
