<ion-view cache-view="false" view-title="">

  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button ng-click="atrasEst()" class="button back-button buttons button-clear header-item">
        <i class="icon ion-ios-arrow-back"></i> Atrás </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button icon-rigth button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-cloak="">
    <div class="img-stock-logo sombra-categ">
    </div>

    <ul class="list" ng-show = shouldShowCategories>
      <li class="item item-button-right" ng-repeat="category in categories">

          {{category.nombre}}
          <button ng-click="showProductFromCategory(category)" class="button button-positive">
            <i class="icon ion-edit"></i>
          </button>
      </li>
    </ul>



  </ion-content>
</ion-view>
