<ion-view view-title="Estadísticas">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="right">
      <button class="button icon-left ion-arrow-graph-up-right button-positive"> Estadísticas</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Ventas por día
      </div>
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Productos más Vendidos
      </div>
      <div class="item item-text-wrap">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="datadona" chart-labels="labeldona">
        </canvas>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Montos por día
      </div>
      <div class="item item-text-wrap">
        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
      </div>
    </div>
  </ion-content>
</ion-view>
