<ion-view cache-view="false" view-title="Estadísticas">

  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button ng-click="atrasEst()" class="button back-button buttons button-clear header-item">
        <i class="icon ion-ios-arrow-back"></i> Atrás </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button icon-rigth button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Ventas
      </div>
      <div class="item item-text-wrap">
        <canvas id="bar" class="chart chart-bar" data="dataVentas" labels="labelsVentas" legend="true" series="seriesVentas" options="{showTooltips: true}"></canvas>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Productos más Vendidos
      </div>
      <div class="item item-text-wrap">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="dataProductos" legend="true" chart-labels="labelProductos">
        </canvas>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Estado de los Pedidos (última semana)
      </div>
      <div class="item item-text-wrap">
        <canvas id="pie" class="chart chart-pie" data="dataEstado" labels="labelsEstado" legend="true"  options="{showTooltips: true}" colours="colorEstado"></canvas>
      </div>
    </div>
  </ion-content>
</ion-view>
