<ion-view view-title="">
  <ion-content>
    <img width="400px" height="150px" src="../img/pedidos-admin.jpg">
    <div class="card">
      <div class="item item-text-wrap">
        <h2 style="color:#1e6ed1";> <i class="ion-clipboard"></i> Listado pedidos</h2>
      </div>
    </div>
    <div class="list" ng-repeat="pedido in pedidos" href="#">
      <div class="item item-avatar">
        <img ng-if="pedido.estado==1" src="../img/circle-azul.png">
        <img ng-if="pedido.estado==4" src="../img/circle-rojo2.png">
        <img ng-if="pedido.estado==2" src="../img/circle-amarillo.png">
        <img ng-if="pedido.estado==3" src="../img/circle-verde2.png">
        <h2> {{pedido.fecha | date:'dd-MM-yyyy' }} | {{pedido.fecha | date:'HH:mm' }}</h2>
        <div class="row">
          <div class="col" align="left">
            <strong> $ {{pedido.total}}</strong>
          </div>
          <div class="col" align="left">
            {{pedido.calle}}
          </div>
          <div class="col col-75" align="left">

          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-outline button-small ion-search button-dark"></button>
          </div>
          <div class="col">
            &nbsp;<button class="button button-outline button-small ion-paper-airplane button-positive"></button>
          </div>
          <div class="col">
            &nbsp;<button class="button button-outline button-small ion-happy button-balanced"></button>
          </div>
          <div class="col col-75">
            &nbsp;<button class="button button-small button-assertive ion-sad assertive">
          </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
