<ion-view cache-view="false" view-title="">
  <ion-nav-bar class="bar-custom">
    <ion-nav-buttons side="left">
      <button ng-click="atrasAdmin()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i> Atrás </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-assertive icon-rigth button-icon ion-android-more-vertical" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <ion-refresher
      pulling-text="Suelta para refrescar..."
      on-refresh="getPedidos()">
    </ion-refresher>
    <!--<img width="100%" height="120px" src="http://23.94.249.163/appDrinks/img/pedidos-admin.jpg">-->
    <img class="img-admin-logo">
    <br>
    <h2 style="color:#1e6ed1; font-size: 18px";>&nbsp;&nbsp; <i class="ion-clipboard"></i> Listado pedidos</h2>

    <div class="list" ng-repeat="pedido in pedidos">
      <a class="item" href="#/app/admin/pedido/{{pedido}}">
        <div class="row">
          <div class="col.25">
            <span align="left" ng-if="pedido.estado==1" class="badge badge-balanced">Nuevo</span>
            <span ng-if="pedido.estado==2" class="badge badge-energized">En Camino</span>
            <span ng-if="pedido.estado==3" class="badge badge-positive">Cerrado</span>
            <span ng-if="pedido.estado==4" class="badge badge-assertive">Cancelado</span>
          </div>
          <div class="col">
            <p> <strong>Fecha : </strong> {{pedido.fecha | date:'dd-MM-yyyy' }} {{pedido.fecha | date:'HH:mm' }}</p>
            <p> <strong>Monto: </strong> $ {{pedido.total}}</p>
            <p> <strong>Dirección: </strong> {{pedido.calle}} {{pedido.nro}}</p>
          </div>
        </div>
      </a>
    </div>



  </ion-content>


  <script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <a ng-click="closePopover()" class="item" href="#/app/estadistica" target="_blank">
            <font color="#1e6ed1"><i class="ion-pie-graph"></i>&nbsp;&nbsp; Estadísticas</font>
          </a>
          <a ng-click="closePopover()" class="item" href="#" target="_blank">
            <font color="#1e6ed1"><i class="ion-calculator"></i>&nbsp;&nbsp; Reportes</font>
          </a>
          <a ng-click="closePopover()" class="item" href="#" target="_blank">
            <font color="#1e6ed1"><i class="ion-podium"></i>&nbsp;&nbsp; Stock </font>
          </a>
          <a ng-click="closePopover()" class="item" href="#" target="_blank">
            <font color="#1e6ed1"><i class="ion-gear-b"></i>&nbsp;&nbsp; Configuración </font>
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>




</ion-view>


