<ion-view cache-view="false" view-title="">

  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button ng-click="atrasEst()" class="button back-button buttons button-clear header-item">
        <i class="icon ion-ios-arrow-back"></i> Atrás </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button icon-rigth button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="img-stock-logo sombra-categ">
    </div>
    <div class="item item-divider">
      <font color="#696969">
        <i class="ion-clipboard"></i>
        Nuevo producto
      </font>
    </div>
    <br>
    <div class="card">
      <form name="productForm">
        <label class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Ingrese nombre" ng-model="product.name" ng-change="habilitarBtnPedido(tel,'tel')" required>
             <span ng-show="productForm.product.name.$error.required">Name is required.</span>
          </label>
        </label>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Descripción</span>
            <input type="text" placeholder='Ingrese descripción' ng-model="product.description">
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Precio</span>
            <input type="text" placeholder='Ej. 299.89' ng-model="product.price">
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Categoría</span>
            <input type="text" placeholder='Seleccione categoría' ng-model="product.category">
          </label>
        </div>
        <div class="list">

          <label class="item item-input item-select">
              <div class="input-label">
                Stock
              </div>
              <select ng-model="product.stock">
                <option>No</option>
                <option selected>Si</option>
              </select>
            </label>

        </div>
        <label class="item item-input item-stacked-label">
          <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
        </label>
        <div class="button" ngf-select ng-model="product.file" name="file">Select</div>
        <button ng-disabled="!productForm.$valid" ng-click="save(product)" class="button  button-block icon-center ion-plus-circled button-positive">
          Crear
        </button>
      <form>
    </div>

  </ion-content>
</ion-view>
