<ion-view view-title="">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <strong>Nro. Pedido:</strong> {{pedido.id}}
          </div>
          <div class="col">
            <strong>Fecha:</strong> {{pedido.fecha | date:'dd-MM-yyyy' }} | {{pedido.fecha | date:'HH:mm' }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Dirección:</strong>
          </div>
          <div class="col">
            {{pedido.calle}} , {{pedido.nro}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Total:</strong>
          </div>
          <div class="col">
            $ {{pedido.total}}
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <button class="button icon-left ion-ios-paperplane button-dark">Msj</button>
          </div>
          <div class="col">
            <button class="button icon-left ion-ios-location button-dark">Mapa</button>
          </div>
          <div class="col">
            <button class="button icon-left ion-flash button-dark">Estado</button>
          </div>
        </div>
      </div>
    </div>

    <div class="list">
      <h2 style="color:#1e6ed1; font-size: 18px;">&nbsp;&nbsp; <i class="ion-clipboard"></i>
        Productos del pedido
      </h2>
      <div>
        <div class="list" ng-repeat="pedidoDetalle in pedidoDetalle">
          <div class="item">
            <h2> {{pedidoDetalle.nombreProducto}}</h2>
            <div class="row">
              <div class="col" align="left">
                <strong> {{pedidoDetalle.producto}}</strong>
              </div>
              <div class="col" align="left">
                c/u $ {{pedidoDetalle.subtotal}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<!--<div class="bar bar-footer bar-light" >
  <button ng-click="limpiarCarro()" class="button button-positive">
    Finalizar la compra
  </button>
  Limpiar carro<a href="#/app/mi-pedido" class="button button-clear pull-rigth"><i class="icon ion-ios-cart"></i></a>
</div>
-->
