<ion-view cache-view="false" view-title="">

  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button ng-click="atrasEst()" class="button back-button buttons button-clear header-item">
        <i class="icon ion-ios-arrow-back"></i> Atrás </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button icon-rigth button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="list" ng-repeat="producto in productos" >
      <a class="item item-thumbnail-left">
        <img class="list-prod" src="http://23.94.249.163/appDrinks/img/productos/{{producto.urlImg}}">
        <h2> {{producto.nombre}}</h2>
        <p>$ {{producto.precio}}</p>
        <div class="row">
          <div class="col.25">
            <button class="button button-small button-outline icon-center ion-record button-dark"> {{producto.stock}}</button>
          </div>
          <div class="col.25">
          </div>
          <div class="col.25">
          </div>
          <div class="col.25" >
            <button class="button button-small button-outline icon-center ion-record button-positive" ng-click="cambiarStock(producto.id, producto.stock)"> Cambiar estado de stock</button>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
