<ion-view view-title="">

  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://23.94.249.163/appDrinks/img/productos/{{producto.urlImg}}">
        <h2>{{producto.nombre}}</h2>
        <p>$ {{producto.precio}}</p>
      </div>

      <div class="item item-body">
        <img src="http://23.94.249.163/appDrinks/img/productos/{{producto.urlImg}}" class="img-det-prod">
        <h3>
          {{producto.descripcion}}
          <h1>$ {{producto.precio}}</h1>
        </h3>

        <div class="row" align="center">
          <div class="col" align="center">
            <button ng-disabled="cantidad < 2" ng-click="restarCantidad(ped)" class="button button-outline button-small ion-minus button-assertive"></button>
            &nbsp;&nbsp; <span style="font-size: 22px;">{{cantidad}}</span> &nbsp;&nbsp;
            <button ng-disabled="cantidad > 99" ng-click="sumarCantidad(ped)" class="button button-outline button-small ion-plus button-balanced"></button>
          </div>
        </div>
        </br>

        <form name="addPedido">
          <span ng-show="addPedido.cantidad.$error.max">
            <h3><font color="red"> La cantidad no puede exceder 100</font></h3>
          </span>
          <div ng-show="!pedidoPendiente">
            <button ng-if="abierto" ng-disabled="addPedido.$invalid"  ng-click="addAlCarro(producto, cantidad)" class="button  button-block icon-center ion-plus-circled button-positive">
              Agregar
            </button>
            <a href="#/app/mi-pedido"><button ng-if="!abierto" ng-disabled="addPedido.$invalid" class="button  button-block icon-center ion-plus-circled button-positive">
              Agregar
            </button>
            </a>
          </div>
          <div ng-show="pedidoPendiente">
            <span>
              <font color="red"> Debes pedir al menos 1 producto<p><i class="ion-alert-circled"></i> Tienes un pedido pendiente</p></font>
            </span>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
