<ion-view view-title="Detalle producto">

  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="../img/categorias/vinos.jpg">
        <h2>{{producto.nombre}}</h2>
        <p>$ {{producto.precio}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="../img/categorias/vinos.jpg">
        <h3>
          {{producto.descripcion}}. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          <h1>$ 39.40</h1>
        </h3>

        <label class="item item-input">
          <span class="input-label">Cantidad</span>
          <input type="number" ng-model="cantidad">
        </label>
        <button ng-class="disable"  ng-click="addAlCarro(producto, cantidad)" class="button  button-block icon-center ion-plus-circled button-positive"> Agregar</button>
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-clear" >
    <a href="#/app/home" class="button button-assertive pull-left"><i class="icon ion-home"></i></a>

    <a href="#/app/mi-pedido" class="button button-assertive pull-rigth"><i class="icon ion-ios-cart"></i></a>
  </div>
</ion-view>
