<ion-view view-title="">

  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="http://23.94.249.163/appDrinks/img/productos/{{producto.urlImg}}">
        <h2>{{producto.nombre}}</h2>
        <p>$ {{producto.precio}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://23.94.249.163/appDrinks/img/productos/{{producto.urlImg}}" style="width: 100%;height: 300px;">
        <h3>
          {{producto.descripcion}}
          <h1>$ {{producto.precio}}</h1>
        </h3>

        <form name="addPedido">
          <label class="item item-input">
            <span class="input-label">Cantidad</span>
              <input ng-model="cantidad" name="cantidad" class="text-input ng-valid ng-dirty ng-touched"
                     type="number"
                     required
                     min="1"
                     max="100">
          </label>
          <span ng-show="addPedido.cantidad.$error.required">
            <h3><font color="red"> Debes pedir al menos 1 producto</font></h3>
          </span>
          <span ng-show="addPedido.cantidad.$error.max">
            <h3><font color="red"> La cantidad no puede exceder 100</font></h3>
          </span>
          <span ng-show="addPedido.cantidad.$error.min">
            <h3><font color="red"> Debes pedir al menos 1 producto</font></h3>
          </span>
          <button ng-if="abierto" ng-disabled="addPedido.$invalid"  ng-click="addAlCarro(producto, cantidad)" class="button  button-block icon-center ion-plus-circled button-positive">
            Agregar
          </button>
          <button ng-if="!abierto" ng-disabled="addPedido.$invalid"  ng-click="" class="button  button-block icon-center ion-plus-circled button-positive">
            Está cerrado
          </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
