/* Empty. Add your own CSS if you like */

.mi_estilo{
background: #ececee;
}

.img_categoria{
  width: 100% !important;
  height: 170px;!important;
  /*background-image: url("../img/categorias/vinos.jpg")!important;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

/* categorias *********************************************************************/
.vinos{
  width: 100% !important;
  height: 170px!important;
  background-image: url("../img/categorias/vinos.jpg")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -20px;
}

.cervezas{
  width: 100% !important;
  height: 170px!important;
  background-image: url("../img/categorias/cerveza.jpg")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -20px;
}

.fernets{
  width: 100% !important;
  height: 170px!important;
  background-image: url("../img/categorias/fernet.jpg")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -20px;
}

.whiskies{
  width: 100% !important;
  height: 170px!important;
  background-image: url("../img/categorias/whiskies.jpg")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -20px;
}

.promociones{
  width: 100% !important;
  height: 170px!important;
  background-image: url("../img/categorias/promociones.jpg")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -20px;
}

.vodkas{
  width: 100% !important;
  height: 170px!important;
  background-image: url("../img/categorias/vodkas-licores.jpg")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -20px;
}
/* /categorias *********************************************************************/

.bar-custom{
  /*background-color: #050404;*/
  background-image: url("../img/black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-error{
  width: 100% !important;
  height: 300px!important;
  background-image: url("../img/copaRota.png")!important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -20px;
}

.img-det-prod{
  width: 90% !important;
  height: 220px!important;
  padding: 10px;
  margin-left: 16px;
  border-radius: 35px;
  box-shadow: 2px 2px 5px #999;
}

.list-prod{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 100%;
  border: solid 1px #9A9A9C;
  /*box-shadow: 1px 1px 1px 1px #000000;*/
}

.img-pago-logo{
  width: 100% !important;
  height: 120px!important;
  background-image: url("../img/pago-logo.jpeg")!important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-cerrado-logo{
  width: 100% !important;
  height: 220px!important;
  background-image: url("../img/categorias/cerrado.png")!important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-admin-logo{
  width: 100% !important;
  height: 120px!important;
  background-image: url("../img/pedidos-admin.jpg")!important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.menu-header{
  /*background-image: url("../img/categorias/menuImg.png")!important;*/
  background-color: #111111;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:6%;
  width: 100%;
}

/*custom is class added to ion-content*/

.custom{
  background-color: #3f4041 !important; /* This sets the background color*/
  background-image: url(../img/categorias/imgMenu4.jpg);
  background-repeat: no-repeat;
  opacity: 0.9;
}

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  /*border-top: 1px solid;*/   /*Top Border for each menu item*/
  border-bottom: 0px solid;   /*Bottom border for each menu item*/
  /*border-color: #ffc5d1;*/   /*Sets colors for top and bottom border*/
  color: #ffffff;    /*Text color for each item*/
}

ion-item.item:hover a {
  margin-top: 10px;
  /*background-color: #050404 !important;*/
  background-color: #050404 !important;
  opacity: 0.5;
  color: white;
  font-size: 22px;
  border-bottom: solid #050404 0px;
}

/*Changes the border for the last item*/
.custom .item:last-child{
  border-bottom: 0px solid #e7e2e6;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}

/* tamaño de iconos */

.ion-home{
  font-size: 20px!important;
}


.ion-wineglass{
  font-size: 20px!important;
}

.ion-android-bar{
  font-size: 20px!important;
}

.ion-ios-home-outline{
  font-size: 20px!important;
}

.ion-ios-cart{
  font-size: 20px!important;
}

.ion-android-mail{
  font-size: 20px!important;
}

.ion-close-circled{
  font-size: 20px!important;
}
.ion-stats-bars{
  font-size: 20px!important;
}
.ion-clipboard{
  font-size: 20px!important;
}

/* boton eliminar producto de pedido*/
.ion-trash-a{
  font-size: 20px!important;
}


/* hover botones menu */

.ion-item:hover{
  background-color: #007aff!important;
}


/********* mapa *************************/
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 35%;
    border-bottom: solid 4px lightblue;
    border-left: solid 10px #ffffff;
    border-right: solid 10px #ffffff;
    border-top: solid 10px #ffffff;
}

/***************************************/
